.hero{
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/images/hero-background.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
    background-color: $accent-background-color;
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero__caption{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:#ffffff;
    margin-bottom: 30px;
}
.hero__button{
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:#ffffff;
    background-color:$accent-color;
    cursor: pointer;
}